.btn {
  display: inline-flex;
  padding: 15px;

  color: $color-default-white;

  background-color: $color-accent-main;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-accent-second;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
