.custom-select {
  position: relative;
  width: 100%;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.85);
  border: 0;
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  max-width: 370px;
  letter-spacing: 0%;
  width: 100%;
  height: 48px;
  border-radius: 3px;
  color: #272733;

  &::placeholder {
    color: #272733
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 10px;

    transform: translateY(-50%);

    transition: transform 0.3s ease, opacity 0.3s ease;

    pointer-events: none;

    @media screen and (max-width: 767px) {
      transform: translateY(calc(-50% - 5px));
    }
  }

  &__placeholder {
    position: absolute;
    top: 50%;
    left: 10px;

    transform: translateY(-50%);

    transition: transform 0.3s ease, opacity 0.3s ease;

    pointer-events: none;

    @media screen and (max-width: 767px) {
      transform: translateY(calc(-50% - 5px));
    }
  }

  select {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }

  &__button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    padding: 15px;
    background-color: $color-transparent;
    // border: 2px solid $color-default-white;
    border: 0;
    outline: none;
    cursor: pointer;

    transition: border 0.3s ease;

    &:hover {
      // border: 1px solid #3D4050;
    }

    &:focus {
      // border: 1px solid #3D4050;
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.3;
    }
  }

  &__list {
    position: absolute;
    bottom: 0px;
    z-index: 1;

    width: 100%;
    max-height: 180px;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    list-style: none;
    background-color: #272733;
    border: 1px solid #3D4050;
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;

    transition: visibility 0.3s ease, opacity 0.3s ease;
  }

  &__item {
    padding: 10px;
    color: $color-default-white;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &[aria-selected="true"] {
      color: $color-accent-main;

      @media (hover: hover) {
        &:hover:not(.focus-visible) {
          color: $color-accent-main;
        }
      }

      &.focus-visible:focus {
        color: $color-accent-main;
      }
    }

    @media (hover: hover) {
      &:hover:not(.focus-visible) {
        color: $color-accent-main;
      }
    }

    &.focus-visible:focus {
      color: $color-accent-main;
    }
  }

  &__error {
    position: absolute;
    bottom: -15px;
    left: 0;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.1s ease;
  }

  &__text {
    font-size: 20px;
    line-height: 24px;
    flex-shrink: 0;
    width: 80%;
    overflow: hidden;

    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;

    opacity: 0;

    transition: opacity 0.3s ease 0.1s;

    br {
      display: none;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 10px;
    height: 5px;
    margin-left: auto;

    background-color: #000000;

    transition: transform 0.3s ease;

    clip-path: polygon(100% 0, 100% 20%, 50% 100%, 0 20%, 0 0, 50% 80%);
  }

  &.is-disabled {
    pointer-events: none;

    .custom-select__list {
      display: none;
    }
  }

  &.open-up {
    .custom-select__list {
      bottom: auto;
      top: 0;
      transform: translateY(calc(-100% + 10px));
    }
  }

  &.is-open {
    background-color: rgba(61, 64, 80, 0.85);

    .custom-select__placeholder {
      color: $color-default-white
    }

    .custom-select__list {
      visibility: visible;
      opacity: 1;
    }

    .custom-select__icon {
      transform: rotate(180deg);
      background-color: $color-default-white;
    }

    .custom-select__label {
      opacity: 0;
    }

    .custom-select__text {
      color: $color-default-white
    }
  }

  &.not-empty {
    .custom-select__text {
      opacity: 1;
    }

    .custom-select__label {
      opacity: 0;
    }

    .custom-select__placeholder {
      opacity: 0;
    }
  }

  &.is-invalid {
    .custom-select__error {
      opacity: 1;
    }

    .custom-select__button {
      border: 2px solid #ff1553;

      &:focus,
      &:hover {
        border: 2px solid rgba(#ff1553, 0.5);
      }
    }
  }

  /* &.is-valid {
    .custom-select__button {
      border: 2px solid $color-eucalyptus;

      &:focus,
      &:hover {
        border: 2px solid rgba($color-eucalyptus, 0.5);
      }
    }
  } */

  &--placeholder {
    .custom-select__label {
      transform: translateY(calc(-50% - 40px));
      opacity: 1;
    }

    &.is-open .custom-select__label {
      opacity: 1;
    }

    &.not-empty .custom-select__label {
      opacity: 1;
    }
  }

  &.slide-up.not-empty,
  &.slide-up.is-open {
    .custom-select__label {
      transform: translateY(calc(-50% - 40px));
      opacity: 1;
    }

    .custom-select__text {
      opacity: 1;
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}