.footer {
  padding: 32px 0 30px;
  background-color: $color-background-footer;

  .container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    @include vp-1279 {
      padding: 0 30px;
      flex-flow: column;
      gap: 15px;
    }

    @include vp-767 {
      align-items: start;
      gap: 25px;
    }

    &>* {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 39px;

      @include vp-767 {
        flex-flow: column;
        align-items: start;
        gap: 10px;
      }
    }

    &>*:not(:first-child) {
      border-left: 1px solid $color-default-white;

      @include vp-1279 {
        border-left: 0;
      }
    }
  }
}

.footer .footer__credits {
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: -0.1px;
  color: $color-default-white;
  margin-right: 42px;
  gap: 4px;

  @include vp-1279 {
    margin: 5px 0;
  }
}

.footer__credits>span:first-child {
  text-transform: uppercase;
  margin-left: 2px;
  letter-spacing: 0.1px;
}

.footer .footer-payments {
  padding: 0 44px 0 40px;

  @include vp-1279 {
    padding: 0;
  }
}

.footer .footer-contacts {
  padding: 0 35px;
  gap: 48px;

  @include vp-1279 {
    padding: 0;
    gap: 39px;
  }

  @include vp-767 {
    gap: 10px
  }
}



.footer-list__item span,
.footer-list__item a {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  align-items: center;
  color: $color-default-white;
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.footer-list__item a {
  &:hover span,
  &:focus span {
    color: $color-accent-main;
  }

  &:active span {
    color: $color-accent-second;
  }
}

.footer .container> :last-child {
  padding-right: 0;
}