.hero {
    background-image: url("../../img/content/hero-image.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 203px 0;
    width: 100%;

    .container {
        margin: 0 auto;
        max-width: 1170px;
    }
}

.hero-title {
    width: 67%;
    font-family: Lato-Bold;
    font-weight: 700;
    font-size: 48px;
    line-height: 122%;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    margin: 0 0 90px;
    padding: 0;
}

.hero__subtitle {
    font-family: Lato-Bold;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.05px;
    vertical-align: middle;
    margin: 0 0 14px;
}

.hero-list {
    width: 67%;
    margin: 0 0 82px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 9px;
    list-style: none;
}

.hero-list__item {
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    width: 100%;

    &::before {
        content: "";
        display: inline-block;
        width: 5px;
        height: 1.5px;
        margin: 0 11px;
        background-color: $color-default-black;
    }
}