.hero {
    background-image: url("../img/content/hero-image.webp");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 203px 0;
    width: 100%;

    .container {
        margin: 0 auto;
        max-width: 1170px;

        @include vp-767 {
            max-width: 450px;
        }
    }

    @include vp-1023 {
        padding: 150px 0 100px;
    }

    @include vp-767 {
        padding: 150px 0 50px;
    }
}

.hero-title {
    width: 67%;
    font-family: Lato-Bold;
    font-weight: 700;
    font-size: 48px;
    line-height: 122%;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    margin: 0 0 90px;
    padding: 0;

    @include vp-1023 {
        font-size: 36px;
        margin: 0 0 50px;
    }

    @include vp-767 {
        font-size: 24px;
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 0 40px;
    }
}

.hero__subtitle {
    width: 67%;
    font-family: Lato-Bold;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.05px;
    vertical-align: middle;
    margin: 0 0 20px;

    @include vp-767 {
        width: 100%;
        font-size: 16px;
        text-align: center;
    }
}

.hero-list {
    width: 67%;
    margin: 0 0 82px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 9px;
    list-style: none;

    @include vp-1023 {
        margin: 0 0 50px;
    }

    @include vp-767 {
        width: 75%;
    }
}

.hero-list__item {
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    width: 100%;

    @include vp-1023 {
        font-size: 16px;
    }

    &::before {
        content: "";
        display: inline-block;
        width: 5px;
        height: 1.5px;
        margin: 0 11px;
        background-color: $color-default-black;
    }
}

.buttons-wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 67%;
    gap: 30px;
    margin-left: 1px;

    @include vp-767 {
        width: 100%;
    }
}

.buttons-wrapper__button {
    width: 183px;
    height: 43px;

    @include vp-767 {
        width: 100%;
    }
}