.order-slider__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.14px;
    color: $color-default-white;
}

.order-slider__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.noui-slider {
    width: 100%;
    height: 25px;
    background-color: red;
    display: block;
}