

.order-slider__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.14px;
    color: $color-default-white;
}

.order-slider__value {
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: $color-default-white;
}

.order-slider__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2px;
    margin-bottom: 22px;
}

// .noui-slider {
//     width: 100%;
//     height: 25px;
//     background-color: red;
//     display: block;
// }
.noUi-target {
    border: 0;
}
.noUi-base {
    width: 100%;
    height: 6px;
    border-radius: 3px;
    border: 1px solid $color-default-white;
    background-color: rgba(255, 255, 255, 0.7);
}

.noUi-target .noUi-handle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #42A9ED;
    border: 3px solid #286690;
    box-shadow: none;
    top: -11px;

    &::after,
    &::before {
        display: none;
    }
}