.order {
    width: 100%;
    background-color: $color-background-order;
    background-image:
        linear-gradient(rgba(39, 39, 51, 0.9)),
        url("../../img/content/background.png");
    background-repeat: no-repeat;
    background-position:
        center center,
        center -52px;
    padding: 122px 0 150px;

    .container {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.order__title {
    margin: 0px 0 34px 4px;
    padding: 0;
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0.4px;
    vertical-align: middle;
    text-transform: uppercase;
    color: $color-default-white;
    display: flex;
    gap: 16px;
}

.order__subtitle {
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: $color-default-white;
    margin: 0;
    margin-bottom: 84px;
}

