.order-form {
    display: grid;
    gap: 30px;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    width: 100%;
    max-width: 1170px;
    grid-auto-rows: minmax(48px, auto);
    margin-left: 1px;
}

.order-form__label {
    width: 100%;
    display: block;

    &--slider {
        grid-column: span 2;
    }
}

.order-form__input {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    max-width: 370px;
    letter-spacing: 0%;
    padding: 12px 10px;
    width: 100%;
    height: 48px;
    border-radius: 3px;
    border: 1px solid $color-default-white;
    color: #272733;

    &::placeholder {
        color: #272733
    }
}

.order-form__submit {
    grid-column: 2/3;
    order: 100;
    margin-top: 15px;
}