.process-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.process-item {
    display: flex;
    flex-direction: column;
    width: 209px;
    align-items: center;
}

.process-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 5px solid #286690;
    width: 100px;
    height: 100px;
    background-color: $color-accent-main;
    position: relative;
    margin-bottom: 20px;
}

.process-item__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    color: $color-default-white;
    margin: 0 11px;
}

.process-item:not(:last-of-type) .process-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 10px);
    width: 120px;
    height: 6px;
    background-image: radial-gradient(circle,
            rgba(255, 255, 255, 0.7) 3px,
            transparent 4px);
    background-size: 26px 6px;
    background-repeat: repeat-x;
}