.process-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: stretch;
    margin-bottom: 85px;

    @include vp-1279 {
        gap: 10px;
    }

    @include vp-767 {
        flex-direction: column;
        gap: 20px;
    }
}

.process-item {
    display: flex;
    flex-direction: column;
    width: 209px;
    align-items: center;

    @include vp-1279 {
        width: 150px;
    }

    @include vp-1023 {
        width: 130px;
    }

    @include vp-767 {
        width: 90%;
        flex-direction: row;
    }
}

.process-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 5px solid #286690;
    width: 100px;
    height: 100px;
    background-color: $color-accent-main;
    position: relative;
    margin-bottom: 20px;

    @include vp-1023 {
        width: 75px;
        height: 75px;
        border-width: 3px;
    }

    @include vp-767 {
        flex-shrink: 0;
        margin: 0;
        width: 50px;
        height: 50px;
    }
}

.process-icon svg {
    @include vp-1023 {
        width: 35px;
        height: auto;
    }
}

.process-item__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    color: $color-default-white;
    margin: 0 11px;

    @include vp-767 {
        text-align: start;
    }
}

.process-item:not(:last-of-type) .process-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 10px);
    width: 120px;
    height: 6px;
    background-image: radial-gradient(circle,
            rgba(255, 255, 255, 0.7) 3px,
            transparent 4px);
    background-size: 26px 6px;
    background-repeat: repeat-x;

    @include vp-767 {
        display: none;
    }
}